<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PxOrderSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PxOrderSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="PxOrderSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://external.payex.com/pxorder/pxorder.asmx"
                binding="basicHttpBinding" bindingConfiguration="PxOrderSoap"
                contract="PayExService.PxOrderSoap" name="PxOrderSoap" />
            <endpoint address="https://external.payex.com/pxorder/pxorder.asmx"
                binding="customBinding" bindingConfiguration="PxOrderSoap12"
                contract="PayExService.PxOrderSoap" name="PxOrderSoap12" />
        </client>
    </system.serviceModel>
</configuration>