@*
 * IMPORTANT!
 * Please ensure that this macro is placed on a page 
 * that is protected by SSL.
 *@

<form action="@Request.Form["continue_url"]" method="POST" id="payment-form">

    <span class="payment-errors">
        @*
            We only find out a transaction has failed on confirmation of the transation serverside, so this form gets reloaded with additional data about the error.
            FailureReason.chargeId:ch_2pzC3AkWQAVBDn
            FailureReason.Code:card_declined
            FailureReason.Error:
            FailureReason.ErrorSubscription:
            FailureReason.ErrorType:card_error
            FailureReason.Message:Your card was declined.
            FailureReason.Parameter:
        *@

        @if(Request.Form["TransactionFailed"]=="true")
        {
            @Request.Form["FailureReason.Message"]
        }
    </span>

    <div class="form-row"> 
        <label>
            <span>Card Number</span>
            <input type="text" size="20" data-stripe="number"/>
        </label>
    </div>

    <div class="form-row">
        <label>
            <span>CVC</span>
            <input type="text" size="4" data-stripe="cvc"/>
        </label>
    </div>

    <div class="form-row">
        <label>
            <span>Expiration (MM/YYYY)</span>
            <input type="text" size="2" data-stripe="exp-month"/>
        </label>
        <span> / </span>
        <input type="text" size="4" data-stripe="exp-year"/>
    </div>
    
    <a href="@Request.Form["cancel_url"]">&lt; Cancel</a>
    <button type="submit">Submit Payment</button>
</form>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    
    Stripe.setPublishableKey('@Request.Form["api_key"]');
    
    var stripeResponseHandler = function (status, response) {
        var $form = $('#payment-form');

        if (response.error) {
            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $form.find('button').prop('disabled', false);
        } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" name="stripeToken" />').val(token));
            // and submit
            $form.get(0).submit();
        }
    };

    jQuery(function ($) {
        $('#payment-form').submit(function (event) {
            var $form = $(this);

            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);

            Stripe.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
        });
    });

</script>