<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ssl.ditonlinebetalingssystem.dk/remote/payment.asmx"
                binding="basicHttpBinding" bindingConfiguration="PaymentSoap"
                contract="ePayService.PaymentSoap" name="PaymentSoap" />
        </client>
    </system.serviceModel>
</configuration>