<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TeaCommerce.PaymentProviders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TeaCommerce.PaymentProviders.Properties.Settings>
            <setting name="TeaCommerce_PaymentProviders_Wannafind_wannafindService_pgwapi"
                serializeAs="String">
                <value>https://betaling.wannafind.dk/api/customerAPI.php</value>
            </setting>
        </TeaCommerce.PaymentProviders.Properties.Settings>
    </applicationSettings>
</configuration>